<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      p {
        margin: 0px;
      }
    </style>
  </head>
  <body>
    <p>
      Ready for upcoming move? Don't worry, <%= "#{ENV["COMPANY_NAME"]}"%> Team has you
      covered.
    </p>
    <br />
    <p>Hello <%= @customer.first_name %></p>
    <br />
    <p>
      We are excited to see you tomorrow. Our team will call you and will
      confirm arrival time. Please let us know if there are any important
      information we need to know, for example: I have a little baby, so do not
      knock or ring doorbell, or any special parking requirements, or bring
      extra packing supplies because I will probably need help to finish my
      packing, etc. This information is very important for us as we want to
      provide the best moving experience.
    </p>
    <br />
    <p>
      Please call, text or send us an email if any questions or suggestions.
    </p>
    <br />
    <br />
    <p><%= "#{ENV["COMPANY_NAME"]}"%> Team</p>
    <p><b><%= "#{ENV["COMPANY_EMAIL"]}" %></b></p>
    <p><b><%= "#{ENV["COMPANY_PHONE"]}" %></b></p>
    <p><b><%= "#{ENV["COMPANY_SITE"]}" %></b></p>
  </body>
</html>
